
					<tr>
						<td class="name">
                  <%= donor.name %>
						</td>
						<td class="amount">
							    <%= donor.amount %>
						</td>
						<td class="comment">
							    <%= donor.comment %>
						</td>	
					</tr>	
						
				
