<table class="Donor list" summary="Campaign Donors">
  <tr>
  <td class="donor">
    <span class="content"><%= donor.name %></span>
  </td>
  <td class="comment">
    <span class="content"><%= donor.comment %></span>
  </td>
</tr>
</table>
